Mixing web and SPA documentation is confusing

https://learn.microsoft.com/en-us/entra/identity-platform/v2-oauth2-auth-code-flow states `The OAuth 2.0 authorization code flow is described in [section 4.1 of the OAuth 2.0 specification](https://tools.ietf.org/html/rfc6749)` and links to RFC-6749 section 4.1, which documents the OIDC flow as having the client (SP) request a token direct from the IdP (Step D).

https://learn.microsoft.com/en-us/entra/identity-platform/v2-oauth2-auth-code-flow the proceeds to directly jump to the SPA flow, which I believe is the RFC-6749 section 4.2 implicit flow, not the RFC-6749 section 4.1 Authorization Code Grant flow.  The section 4.1 flow documentation appear further down the page, but by that point the water is fully muddied and it isn't clear where the SPA docs end and the web docs restart.

Break this into two pages, please.  One for SPA with the implicit flow and one for web with the authorization flow.  These are separate options in the IdP config and warrant separate documentation pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 13b44819-ed7b-84bc-f5d2-2b937029f7df
* Version Independent ID: db9f8408-c234-90d0-4817-3516e5fc3ba0
* Content: [Microsoft identity platform and OAuth 2.0 authorization code flow - Microsoft identity platform](https://learn.microsoft.com/en-us/entra/identity-platform/v2-oauth2-auth-code-flow#request-an-id-token-as-well-or-hybrid-flow)
* Content Source: [docs/identity-platform/v2-oauth2-auth-code-flow.md](https://github.com/MicrosoftDocs/entra-docs/blob/main/docs/identity-platform/v2-oauth2-auth-code-flow.md)
* Service: **identity-platform**
* GitHub Login: @OwenRichards1
* Microsoft Alias: **owenrichards**

@ag-TJNII 
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.